@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;500&display=swap');

:root {
    --c12: #000;
    --c11: #111;
    --c10: #2E2E2E;
    --c9: #404040;
    --c8: #595959;
    --c7: #717171;
    --c6: #9C9C9C;
    --c5: #B2B2B2;
    --c4: #CCC;
    --c3: #DEDEDE;
    --c2: #EDEDED;
    --c1: #F7F7F7;
    --w: #FFF;
    --p5: #332200;
    --p4: #664400;
    --p3: #A66F00;
    --p2: #E4A30B;
    --p1: #FFBB00;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
}

header {
    background-color: var(--c12);
}


.header-container {
    width: 1200px;
    height: 96px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.header-container img {
    margin-top: 32px;
}

.header-container nav ul {
    list-style: none;
    line-height: 96px;
    color: var(--w);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    gap: 40px;
}

.header-container nav ul li {
    display: inline;
}

.menu-ativo {
    text-decoration: underline 2px;
    text-underline-offset: 8px;
}

.main-titulo {
    background-color: var(--c11);
}

.main-titulo p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: var(--c5);
    text-transform: uppercase;
    padding-top: 60px;
}

.main-titulo h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    color: var(--w);        
}

.main-titulo .h1-termos {
    padding-bottom: 60px;
}

.main-titulo h1::after {
    content: ".";
    color: var(--p1);
}

.main-container {
    width: 1200px;
    margin: auto;
}

.main-conteudo {
    width: 1200px;
    margin: auto;
    margin-top: 124px;
}

.main-conteudo-container {
    width: 760px;
}

.main-conteudo h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: var(--c11);
    margin-top: 48px;
}

.main-conteudo p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: var(--c10);
    margin-top: 20px;
}

footer {
    background-color: var(--c12);
    margin-top: 120px;
}

.footer-container {
    width: 1200px;
    margin: auto;
    padding-top: 60px;
}

.footer-grid {
    display: grid;
    grid-template-columns: 24% 38% 38%;
}

footer h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: var(--w);
    text-transform: uppercase;
    margin-bottom: 32px;
}

footer ul {
    list-style: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: var(--c5);
}

footer p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: var(--c6);
    margin-top: 80px;
    padding-bottom: 32px;
}

.footer-contato hr {
    width: 360px;
    border-color: var(--c11);
    margin-top: 19px;
    margin-bottom: 19px;
}

footer img {
    margin-right: 32px;
}

/*INDEX*/

.titulo-index-grid {  /*introducao-bg* - remover no css e no index*/ 
    margin-bottom: 100px;
}

.container-index-grid { /*introducao*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 40px;  
    max-width: 1200px;   
    box-sizing: border-box;
}

.container-index-grid h1 {
    margin-top: 150px;    
}

.container-index-grid h1::after {
    content: ".";
    color: var(--p1);
}

.container-index-grid p {
    text-transform: none;
    margin-bottom: 50px;
}

.container-index-grid .botao {
    margin-bottom: 80px;
}

.container-index-imagem {
    margin-bottom: -80px;
}

.container-index-grid img {
    height: 100%;        
}

.botao {
    color: var(--p5);
    font-family: 'Poppins';    
    font-weight: 600;
    font-size: 18px;    
    text-transform: uppercase;
    background: linear-gradient(180deg, #FFBF00 0%, #F2A50C 100%);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 16px, 32px;
    width: 217px;
    height: 56px;
    display: flex;    
    justify-content: center;
    align-items: center;
}

.index-escolhaasua {
    font-family: 'Poppins';    
    font-weight: 600;
    font-size: 34px;
    line-height: 32px;
    color: var(--c11);       
}

.index-escolhaasua h2 {
    padding-bottom: 50px; 
    margin-left: 350px;
}

.index-escolhaasua h2::after {
    content: ".";
    color: var(--p1);
}

.index-3bicicletas { /*bicicletas-lista*/
    padding-top: 100px;
    padding-bottom: 120px;
    margin-bottom: 100px;
}

.index-3bicicletas ul {
    display: flex;
    gap: 40px;
    justify-content: center;
    list-style: none;
}

article ul li h3 {
    margin-top: 20px; 
    margin-bottom: 20px;       
}

article ul li h3::before {
    content: "-";    
    color: var(--p1);
    margin-right: 10px;
}

article ul li p {
    margin-left: 30px;
}

.tec-avan { /*tec-bg*/
    background-color: var(--c11);  
    margin-bottom: 100px; 
    display: flex;
    justify-content: center; 
}

.tec-avan-container {
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.tec-avan h1 {
    margin-top: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;         
    text-transform: uppercase;
    color: var(--c5);
}

.tec-avan .p1 {
    margin-top: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    color: var(--w);
}

.tec-avan .p2 {    
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 24px;
    color: var(--c5);
    margin-top: 20px;
    margin-bottom: 30px;
}

.tec-avan a {
    color: var(--p1);
    text-transform: uppercase;
    text-decoration: underline 2px;           
}

.tec-avan .p1::after {
    content: ".";
    color: var(--p1);
}

.tec-avan h2 {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 24px;
    color: var(--w);
}

.tec-avan .p3 {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--c5);
    margin-top: 8px;
}

.tec-avan-imagem img {
    width: 100%;    
    margin-top: -80px;
    margin-bottom: -80px;    
}

.tec-conteudo {
    padding-top: 20px;   
    justify-content: center; 
}

.tec-conteudo a {
    font-family: 'Poppins';    
    font-weight: 600;
    font-size: 24px;    
    color:var(--p1);    
}

.tec-conteudo2 {
    display: flex;
    gap: 40px;
}

.tec-conteudo2 img {
    padding-top: 40px;
}

