* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #2F3D40;
}

.background {
    width: 800px;
    height: 500px;
    margin: auto;
    background-color: white;
    margin-top: 50px;
    border-radius: 15px;
}

footer, header h1 {
    color: white;
    text-align: center;
    padding-top: 50px;
}

header a {
    text-decoration: none;
    color: white;
}

.container {
    text-align: center;
    padding: 60px;
}    

.container p {
    margin-bottom: 10px;   
    color: #2F3D40; 
    font-size: 20px;
}

#palavra {
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 20px;
}

#timer, #pontuacao {
    font-size:50px;    
    font-size: 40px;    
    padding-bottom: 20px;
  }

.botao {
    font-weight: bold;
    text-decoration: none;
    font-size: 12px;    
    text-transform: uppercase;
    background: linear-gradient(180deg, gray 0%, lightgray 100%);    
    border-radius: 5px;
    color: #2F3D40;
    width: 100px;
    height: 50px;
    display: flex;    
    justify-content: center;
    align-items: center; 
    border: none;
}

.botoes {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

/* JOGAR */

.tabela_cores td {
    width: 70px;
    height: 70px;
    border-radius: 50%;       
}

.container_jogo {
    display: flex;
    justify-content: space-between;    
}

#cor1 {
    background-color: green;
}
 
#cor2 {
    background-color: yellow;
}

#cor3 {
    background-color: blue;
}

#cor4 {
    background-color: brown;
}

#cor5 {
    background-color: black;
}

#cor6 {
    background-color: red;
}

#cor7 {
    background-color: gray;
}

#cor8 {
    background-color: orange;
}

#cor9 {
    background-color: pink;
} 