* {
    margin: 0;
    padding: 0;
}

table {
    min-width: 800px;
    margin: 30px auto;
    border-collapse: collapse;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

caption {
    font-size: 2.5em;
    margin-bottom: 20px;
    font-weight: 200;
}

caption span {
    font-weight: 700;
}

thead {
    background-color: red;
    color: white;
}

th, td {
    padding: 15px 8px;
}

td:first-child {
    text-align: center;
}

tr:nth-child(even) {
    background-color: f1f1f1;
}

tbody tr:hover {
    background-color: gray;
    color: white;
    cursor: pointer;
}

tbody tr:last-of-type {
    border-bottom: solid 2px red;
}

tfoot {
    display: none;
}